.carousel-item img {
  max-width:100%;
  max-height: 700px;
  display: block;
  margin: 0 auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>") !important;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>") !important;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
}

.carousel-indicators {
  display: none !important;
}

.carousel-caption {
  bottom: 0px !important;
  padding-bottom: 0px !important;
  font-size: 28px;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 10px !important;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-caption h3 {
  display: none;
}

.carousel-caption p {
  margin: 0px !important;
}
