#resources div.row {
  padding-top: 30px;
}

#resources div.row.second {
  padding-top: 0px;
}

#resources div.col-md-6 {
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

#resources div.container {
  margin-top: 1.2rem;
  background-color: #6c757d;
  border-radius: 0.25rem;
}

#resources div.container h5 {
  color: white;
  margin-bottom: -15px;
  padding-top: 15px;
  font-weight: 450;
}

#resources a {
  color: black;
}

#resources .favorite {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
}

#resources .card-title {
  font-size: 20px;
  font-weight: 800;
}