#home-jumbo {
  margin-top: 30px;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

#toggler, #toggler2, #toggler3 {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
